/* GLOBAL CSS */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  color:#565656;
}

.container a {
  text-decoration: none;
  color: #3e93c7;
}

.container a:hover {
  color: #e0601e;
  text-decoration: underline;
  transition: 5s;
}

/* SIDEBAR */
.sidebar {
  margin: 0px;
}

/* SIDEBAR GALERY */
.pic img {
  width: 100%;
  border-top-left-radius: 10px;
}

.pic {
  background-color: #fdfdfd;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
  border: solid 1px #e6e6e6;
  box-shadow: 1px 1px 6px #cecece;
}

.data {
  height: 100%;
  width: 100%;
}

.data p {
  margin: 8px 20px;
  font-size: 1.3vw;
}

/* NAV */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #40648a;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3b4148;
}

/* CONTAINER */
h1, h2, h3, h4 {
  margin: 0px;
  color: #40648a;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN */
.main {
  //background-color: red;
  width: 74%;
  float: left;
  border-right: dashed 3px #40648a;
}

.sidebar {
  //background-color: green;
  float: right;
  width: 24%;
  height: 500px;
}

.camera {

  padding: 20px;
  background-color: #f7f7f7;
}
